{% block header %}
{# <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">JANSON kevin</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('about_me') }}">A Propos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('all_project') }}">Projets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('contact') }}">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav> #}
   <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <i class="fas fa-bars fa-lg"></i>
        </button>
        
        <div class="collapse navbar-collapse justify-content-center" id="myNavbar">
            <ul class="nav nav-pills navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}#education">Education</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}#experience">Expérience</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}#portfolio">Contact</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
